.timeline-post{
  width: 100%;
}

.post-even {
  background: silver;
  min-height: 28vh;
}

.post-odd {
  background:white;
  min-height: 28vh;
}

.post-user-image{
  max-height: 75px;
  max-width: 75px;
}

.timeline-inner{
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: scroll;
}

.votes-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align:center;
  margin-top: 5px;
}

.votes-container > *{
  font-weight: 1000;
}

.updoot, .downdoot{
  cursor:pointer;
  font-size: 2rem;
}

.updoot {
  margin-bottom: 9px;
}

.linked_url_image{
  max-width:100%;
}

.linked_link {
  color: black;
  opacity: 1;
}

.linked_link:hover {
  text-decoration: none;
  opacity: 0.7;
}

.updoot-active, .downdoot-active{
  color: orangered;
}

.post-status-toolbox{
  z-index: 2000;
  position:relative;
}

.comments_panel_container{
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  height: 1px;
  margin-top: -1px;
  opacity: 0;
  overflow-y: auto;
}

.comments_panel_container_active{
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  height: 350px;
  opacity: 1;
}

.show_hide_comment_container{
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 1s ease-in;
  box-shadow: 0px 0px 0px black;
}

.show_hide_comment_container_active{
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 1s ease-in;
  box-shadow: 10px 10px 10px rgb(0,0,0,0.5);
}
